backend/node_modules
backend/dist/data
backend/src/data

seeder.js
seeder.ts

backend/.env
backend/.DS_Store
backend/.env.local
backend/.env.development.local
backend/.env.test.local
backend/.env.production.local